<div class="container">
  <div class="row">
    <div class="col-md-3 left-side">
      <div class="row">
        <div class="col-md-12">
          <img src="../.././../../assets/images/logo-black.png" alt="" />
        </div>
        <div class="col-md-12 location">
          <i class="bi bi-geo-alt-fill"></i>
          <p>
            The Industrial Zone,
          Industrial Area,
          New Cairo 3 Cairo Governorate
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-9 right-side">
      <h3>Quick Links</h3>
      <ul>
        <li>
          <a href="">Gallery</a>
        </li>
        <li>
          <a href="">privacy policy</a>
        </li>
        <li>
          <a href="">materials</a>
        </li>
        <li>
          <a href="">terms of services</a>
        </li>
        <li>
          <a href="">materials</a>
        </li>
        <li>
          <a href="">terms of services</a>
        </li>
        <li>
          <a href="">about us</a>
        </li>
        <li>
          <a href="">contact us</a>
        </li>
        <li>
          <a href="">help</a>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-6">
          <h3>find us on</h3>
          <ul>
            <li>
              <a href="">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="bi bi-snapchat"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="bi bi-pinterest"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="bi bi-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>shatablee app</h3>
          <ul>
            <li>
              <a href="">
                <i class="bi bi-apple"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="bi bi-android"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
