/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cairo");
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("./assets/styles/variables.scss");

* {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
}

a {
  transition: all var(--transition-time) ease-in-out;
  &:hover {
    color: var(--main-color) !important;
    transition: all var(--transition-time) ease-in-out;
  }
  &.button {
    border: 2pt solid var(--main-color);
    border-radius: 20px;
    text-decoration: none;
    color: black;
    min-width: 120px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    &:hover {
      background-color: white;
    }
  }
}
