:host {
  display: flex;
  border-bottom: 2pt solid white;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0 20px 20px 20px;
    margin: 0;
    li {
      list-style: none;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 19px;
        min-width: 120px;
      }
      &.logo {
        img {
          height: 55px;
          background-color: black;
          padding: 5px;
        }
      }
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (max-width: 1026px) {
  :host {
    flex-direction: column;
    ul:nth-child(2){
      order:1
    }
    ul:nth-child(1){
      order:2
    }

    ul:nth-child(3){
      order:3
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {
}
